@import "mixins";

body {
	background: url("../img/main-bg.jpg") no-repeat center center / cover;

	font-family: 'Anonymous Pro', monospace !important;
	font-size: clamp(14px, 100vw / 40, 24px);
}

button {
	font-family: 'Anonymous Pro', monospace;
}

.main {
	@include flex-center(flex-center);
	height: 100dvh;
	padding: 20px;
}

.star-icon {
	cursor: pointer;

	&:hover {
		opacity: 0.7;
	}
}