@import "mixins";

body {
	background: url("../img/main-bg.jpg") no-repeat center center / cover;

	font-family: 'Anonymous Pro', monospace !important;
	font-size: clamp(14px, 100vw / 40, 32px);
}

button {
	font-family: 'Anonymous Pro', monospace;
}

input,
textarea,
select {
	font-size: clamp(12px, 100vw / 80, 28px);
}

.container {
	@include flex-center(column);
	gap: 25px;
	padding: 50px;

	border: 1px solid rgb(255, 255, 255);
	border-radius: 10px;
	box-shadow: 2px 2px 10px #fff, inset 2px 2px 10px #000000a8;

	max-height: 90%;
	max-width: 90%;
}

.container__title {
	font-size: 1.6em;
	margin-bottom: 25px;
}

.container__button {
	border: 1px solid #000;
	border-radius: 5px;
	// font-size: 1.1em;
	padding: 15px 10px;
	text-align: center;
	width: 90%;

	background-color: rgba(255, 255, 255, 0.20);
	backdrop-filter: blur(2px);

	transition: background .3s linear;
}

.main {
	@include flex-center(column);
	height: 100dvh;
	padding: 20px;
}

.main__input-container {
	@include flex-center(column);
	align-items: flex-start;
	gap: 5px;

	width: 100%;
}

.main__input {
	padding: 4px 8px;
}

.main__textarea {
	padding: 10px;
	min-height: 60px;
	max-height: 200px;
	min-width: 100%;
	resize: vertical;
}

.main__input,
.main__textarea {
	border: 1px solid #000;
}

.main__button {
	background-color: rgb(255, 255, 255);
	border: 1px solid #000;
	font-size: 0.9em;
	padding: 7px 10px;
	transition: background .2s linear;
}

.main__star-container {
}
.main__radio {
	display: none;
}
.main__user-data {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
	justify-content: space-between;
}