.report {
}

.report__table {
}

.report-table {
	border: 1px solid #000;
	border-collapse: collapse;
}

.report-table__head {
}

.report-table__cell {
	border: 1px solid #000;
	padding: 10px;
	text-align: center;
}

.report-table__body {
}

.report-table__row {
}